<div class="main">
  <div class="px-3 d-flex justify-content-between">
    <h2>Add Product</h2>
    <div class="d-flex">
      <div>
        <button
          class="btn bg-dark-pink text-white px-5"
          (click)="saveProduct()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
  <hr />
  <div>
    <div class="row">
      <div class="col-sm-5 col-md-4 col-lg-3 mb-2 text-center">
        <img
          class="img-thumbnail-empty w-100 mb-3"
          src="assets/images/empty.png"
          alt=""
          *ngIf="!previewUrl"
        />
        <img
          [src]="previewUrl"
          alt=""
          class="img-thumbnail w-100 mb-3"
          *ngIf="previewUrl"
        />
        <button
          class="btn btn-dark btn-sm w-100 mb-3"
          (click)="uploadInput.click()"
        >
          Upload
        </button>

        <input
          type="file"
          name="image"
          (change)="fileProgress($event)"
          hidden
          #uploadInput
        />
      </div>
      <div class="col-sm-7 col-md-8 col-lg-6">
        <fieldset class="form-group">
          <label>Product name</label>
          <input
            class=" bg-transparent form-control"
            [(ngModel)]="product.name"
          />
        </fieldset>

        <fieldset class="form-group">
          <label>Description</label>
          <textarea
            class=" bg-transparent form-control"
            rows="4"
            cols="3"
            [(ngModel)]="product.description"
          ></textarea>
        </fieldset>

        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6">
            <fieldset class="form-group">
              <label>Item Code</label>
              <input
                class=" bg-transparent form-control"
                [(ngModel)]="product.itemCode"
              />
            </fieldset>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6">
            <fieldset class="form-group">
              <label>Serial Number</label>
              <input
                class=" bg-transparent form-control"
                [(ngModel)]="product.serialNumber"
              />
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <fieldset class="form-group">
              <label>Purchase Price</label>
              <input
                class=" bg-transparent form-control"
                [(ngModel)]="product.purchasePrice"
                type="number"
              />
            </fieldset>
          </div>
          <div class="col-xl-6 col-lg-6">
            <fieldset class="form-group">
              <label>Selling Price</label>
              <input
                class=" bg-transparent form-control"
                [(ngModel)]="product.sellingPrice"
                type="number"
              />
            </fieldset>
          </div>
          <div class="col-xl-6 col-lg-6">
            <fieldset class="form-group">
              <label>Color</label>
              <input
                class=" bg-transparent form-control"
                [(ngModel)]="product.color"
              />
            </fieldset>
          </div>
        </div>

        <fieldset class="form-group">
          <label>Remarks</label>

          <input
            class=" bg-transparent form-control"
            [(ngModel)]="product.remarks"
          />
        </fieldset>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
