<div>
  <div class="card mb-3">
    <div class="card-header">
      Add Product
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5 col-md-4 col-lg-3 mb-2 text-center">
          <img
            class="img-thumbnail w-100 mb-2"
            src="assets/images/empty.png"
            alt=""
            *ngIf="!previewUrl"
          />
          <img [src]="previewUrl" alt="" class="img-thumbnail w-100 mb-2" *ngIf="previewUrl"/>
          <button class="btn btn-primary btn-sm" (click)="uploadInput.click()">Upload</button>

          <input
          type="file"
          name="image"
          [(ngModel)]="file"
          (change)="fileProgress($event)"
          hidden
          #uploadInput
          />
        </div>
        <div class="col-sm-7 col-md-8 col-lg-9">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-3">
              <fieldset class="form-group">
                <label>Product name</label>
                <input class="form-control" [(ngModel)]="product.name"/>
              </fieldset>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
              <fieldset class="form-group">
                <label>Item Code</label>
                <input class="form-control" [(ngModel)]="product.itemCode"/>
              </fieldset>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
              <fieldset class="form-group">
                <label>Serial Number</label>
                <input class="form-control" [(ngModel)]="product.serialNumber"/>
              </fieldset>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
              <fieldset class="form-group">
                <label>QTY.</label>
                <input class="form-control" [(ngModel)]="product.qty" type="number"/>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <fieldset class="form-group">
                <label>Color</label>
                <input class="form-control" [(ngModel)]="product.color"/>
              </fieldset>
            </div>
            <div class="col-xl-3 col-lg-6">
              <fieldset class="form-group">
                <label>Price</label>
                <input class="form-control" [(ngModel)]="product.price" type="number"/>
              </fieldset>
            </div>
            <div class="col-xl-3 col-lg-6">
              <fieldset class="form-group">
                <label>Currency</label>
                <input class="form-control" [(ngModel)]="product.currency"/>
              </fieldset>
            </div>
            <div class="col-xl-3 col-lg-6">
              <fieldset class="form-group">
                <label>Weight</label>
                <input class="form-control" [(ngModel)]="product.weight" type="number"/>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-4 col-lg-6">
              <fieldset class="form-group">
                <label>Remarks</label>
                <textarea class="form-control" rows="4" cols="3" [(ngModel)]="product.remarks"></textarea>
              </fieldset>
            </div>
            <div class="col-xl-4 col-lg-6">
              <fieldset class="form-group">
                <label>Other Description</label>
                <textarea class="form-control" rows="4" cols="3" [(ngModel)]="product.otherDescription"></textarea>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-right">
      <button class="btn btn-info btn-sm" (click)="saveProduct()">Save</button>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>