<div [@routerTransition]>
  <h2>Products</h2>
  <div class="form-control mb-3 ">
    <div class="mt-1  d-flex justify-content-between">
      <i class="fa fa-search mr-2 mt-1" aria-hidden="true"></i>
      <input type="text" class="border-0 w-100" placeholder="Search..." />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6" *ngFor="let item of productList">
      <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
          <span>Gucci</span>
          <span>P20</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-4 col-lg-12 col-md-12 mb-3">
              <img
                class="img-thumbnail w-100"
                src="assets/images/handbag.jpg"
                alt=""
              />
            </div>
            <div class="col-xl-8 col-lg-12 col-md-12">
              <div>
                <fieldset class="form-group">
                  <p>
                    <span>Serial Number</span> <br />
                    <span class="text-muted">12312412</span>
                  </p>
                </fieldset>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6">
                  <label>Quantity: <span class="text-muted">1</span></label>
                </div>
                <div class="col-xl-6 col-lg-6">
                  <fieldset class="form-group">
                    <label
                      >Weight: <span class="text-muted"> 12kg </span></label
                    >
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6">
                  <label>Color: <span class="text-muted">Black</span></label>
                </div>
                <div class="col-xl-6 col-lg-6">
                  <fieldset class="form-group">
                    <label
                      >Item Code: <span class="text-muted"> 010123 </span></label
                    >
                  </fieldset>
                </div>
              </div>

              <div>
                <fieldset class="form-group">
                  <p>
                    <span>Remarks</span> <br />
                    <span class="text-muted"
                      >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Unde, fugiat.</span
                    >
                  </p>
                </fieldset>
              </div>
              <div>
                <fieldset class="form-group">
                  <p>
                    <span>Other Description</span> <br />
                    <span class="text-muted"
                      >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Unde, fugiat.</span
                    >
                  </p>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-info btn-sm float-right"
            (click)="open(content)"
          >
            Reserve
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Reserve Modal -->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header bg-light">
    <h4 class="modal-title">Gucci</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xl-5 col-lg-12 col-md-12 mb-3">
        <img
          class="img-thumbnail w-100"
          src="assets/images/handbag.jpg"
          alt=""
        />
      </div>
      <div class="col-xl-7 col-lg-12 col-md-12">
        <fieldset class="form-group">
          <p>
            <span>Description</span> <br />
            <span class="text-muted">
              Lorem ipsum dolor sit amet consectetur adipisicing.</span
            >
          </p>
        </fieldset>
        <fieldset>
          <label>weight:</label>
          <input class="form-control" type="number" />
        </fieldset>
        <fieldset>
          <label>Quantity:</label>
          <input class="form-control" type="number" [(ngModel)]="reservation.name" />
        </fieldset>
      </div>
    </div>
    <fieldset class="form-group">
      <label>Name</label>
      <input class="form-control" [(ngModel)]="reservation.qty" />
    </fieldset>
    <fieldset class="form-group">
      <label>Email</label>
      <input class="form-control" [(ngModel)]="reservation.email"/>
    </fieldset>
    <fieldset class="form-group">
      <label>Contact Number</label>
      <input class="form-control" [(ngModel)]="reservation.contactNumber"/>
    </fieldset>
    <fieldset class="form-group">
      <label>Address</label>
      <textarea class="form-control" cols="30" rows="2" [(ngModel)]="reservation.address"></textarea>
    </fieldset>
    <fieldset class="form-group">
      <label>Total weight</label>
      <input class="form-control" [(ngModel)]="reservation.totalweight"/>
    </fieldset>    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="saveReservation()">
      Reserve
    </button>
  </div>
</ng-template>
