.cursor {
  cursor: pointer;
}

.check {
  position: absolute;
  top: 10px;
  right: 24px;
  font-size: 24px;
}

.status {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(15, 15, 15, 0.651);
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
