<div [@routerTransition] class="main">
  <h2>Products</h2>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="form-control mr-2">
      <div class="align-items-center d-flex justify-content-between">
        <i class="fa fa-search mr-2" aria-hidden="true"></i>
        <input
          type="text"
          class="border-0 w-100"
          placeholder="Search..."
          [(ngModel)]="search"
        />
      </div>
    </div>
    <div>
      <button
        class="btn bg-dark-pink text-white btn-sm p-2"
        (click)="open(content)"
      >
        Reserve Selected
      </button>
    </div>
  </div>

  <div class="row">
    <div
      class="col-xs-12 col-sm-6 col-md-6"
      *ngFor="let item of productList | filter: search"
    >
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div
              class="col-xl-4 col-lg-12 col-md-12 mb-3 relative"
              (click)="
                item.status == 0 || !item.status
                  ? (item.isSelected = !item.isSelected)
                  : null
              "
            >
              <img
                class="img-thumbnail w-100 cursor"
                [src]="item.image"
                alt=""
              />

              <div class="p-2">
                <div
                  class="status mx-3 px-2"
                  *ngIf="item.status > 0"
                  (click)="goToRerevation(item.rn)"
                >
                  {{ item.rn }}
                </div>
                <button
                  class="btn btn-primary btn-sm w-100"
                  (click)="router.navigate(['/add-products', { id: item.id }])"
                  *ngIf="item.status == 0"
                >
                  Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
              </div>
              <i
                class="fa fa-check-square-o check text-success"
                aria-hidden="true"
                *ngIf="item.isSelected && (item.status == 0 || !item.status)"
              ></i>
              <i
                class="fa fa-square-o check text-success"
                aria-hidden="true"
                *ngIf="!item.isSelected && (item.status == 0 || !item.status)"
              ></i>
            </div>
            <div class="col-xl-8 col-lg-12 col-md-12">
              <fieldset class="form-group">
                <p class="mb-0">Product Name</p>
                <div class="text-muted bg-light p-1 rounded">
                  {{ item.name }}
                </div>
              </fieldset>
              <fieldset class="form-group">
                <p class="mb-0">Price</p>
                <div class="text-muted bg-light p-1 rounded">
                  {{ item.sellingPrice }}
                </div>
              </fieldset>
              <fieldset class="form-group">
                <p class="mb-0">Description</p>
                <div class="text-muted bg-light p-1 rounded">
                  {{ item.description }}
                </div>
              </fieldset>
              <div class="row">
                <div class="col-xl-6 col-lg-6">
                  <fieldset class="form-group">
                    <p class="mb-0">Serial Number</p>
                    <div class="text-muted bg-light p-1 rounded">
                      {{ item.serialNumber }}
                    </div>
                  </fieldset>
                </div>
                <div class="col-xl-6 col-lg-6">
                  <fieldset class="form-group">
                    <p class="mb-0">Item Code</p>
                    <div class="text-muted bg-light p-1 rounded">
                      {{ item.itemCode }}
                    </div>
                  </fieldset>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 col-lg-6">
                  <fieldset class="form-group">
                    <p class="mb-0">Color</p>
                    <div class="text-muted bg-light p-1 rounded">
                      {{ item.color }}
                    </div>
                  </fieldset>
                </div>
                <div class="col-xl-6 col-lg-6">
                  <fieldset class="form-group">
                    <p class="mb-0">Remarks</p>
                    <div class="text-muted bg-light p-1 rounded">
                      {{ item.remarks }}
                    </div>
                  </fieldset>
                </div>
              </div>

              <div class="row" *ngIf="item.biddingCode">
                <div class="col-xl-6 col-lg-6">
                  <fieldset class="form-group">
                    <p class="mb-0">Bidding Code</p>
                    <div class="text-muted bg-light p-1 rounded">
                      {{ item.biddingCode }}
                    </div>
                  </fieldset>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 col-lg-6"></div>
                <div class="col-xl-6 col-lg-6">
                  <button
                    class="btn bg-dark-pink text-white w-100"
                    (click)="printItemPdf(item)"
                  >
                    <i class="fa fa-fw fa-print" aria-hidden="true"></i> Print
                    Item
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Reserve Modal -->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header bg-pink">
    <h4 class="modal-title">RYSINH Co. Limited - Reservation</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <fieldset class="form-group">
      <label>Name</label>
      <input class="form-control" [(ngModel)]="reservation.name" />
    </fieldset>
    <fieldset class="form-group">
      <label>Email</label>
      <input class="form-control" [(ngModel)]="reservation.email" />
    </fieldset>
    <fieldset class="form-group">
      <label>Contact Number</label>
      <input class="form-control" [(ngModel)]="reservation.contactNumber" />
    </fieldset>
    <fieldset class="form-group">
      <label>Address</label>
      <textarea
        class="form-control"
        cols="30"
        rows="2"
        [(ngModel)]="reservation.address"
      ></textarea>
    </fieldset>
    <hr />
    <h3 class="text-center">Product List</h3>
    <hr />
    <fieldset class="form-group">
      <div class="d-flex" *ngFor="let item of getSelectedProduct()">
        <div class="w-25">
          <img class="img-thumbnail" [src]="item.image" alt="" />
        </div>
        <div class="w-75 px-3">
          <fieldset class="form-group">
            <p class="mb-0">
              <span>Product Name</span> <br />
              <span class="text-muted">
                {{ item.name }}
              </span>
            </p>
          </fieldset>
          <fieldset class="form-group">
            <p class="mb-0">
              <span>Price</span> <br />
              <span class="text-muted">
                {{ item.price }}
              </span>
            </p>
          </fieldset>
        </div>
        <hr />
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">
      Cancel
    </button>
    <button
      type="button"
      class="btn bg-dark-pink text-white"
      (click)="saveReservation()"
      [disabled]="loading"
    >
      Reserve
    </button>
  </div>
</ng-template>
<ngx-spinner
  bdColor="rgba(0,0,0,0.2)"
  size="default"
  color="#fff"
  type="ball-atom"
  [fullScreen]="true"
></ngx-spinner>
