<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>2nd Bags/Luggage, Clothes and accessories</h1>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg"  [(ngModel)]="username" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg"  [(ngModel)]="password" placeholder="{{ 'Password' | translate }}">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin()">{{ 'Log in' | translate }}</a>
                &nbsp; 
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>
        </div>
    </div>
</div>
