.login-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  height: fit-content;
  max-width: 350px;
  border-radius: 15px;
  border: 0.5px solid pink;
  box-shadow: 2px 2px 5px rgba(92, 91, 91, 0.575);
  margin: 20px;

  opacity: 0.7;
  input {
    opacity: 0.7;
  }

  input::placeholder {
    color: rgba(255, 255, 255, 0.568);
  }
}

.login-card:after {
  content: '';
  // background: url('../../assets/images/bg-girl.png') no-repeat right center / contain;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border-radius: 15px;
  z-index: -1;
}

.btn-google {
  background: #c94130;
}
