<div class="landing"></div>
<div class="login-main">
  <div class="login-card p-3 bg-white">
    <div>
      <img src="assets/images/company_logo.jpg" alt="" class="w-100 logo" />
    </div>
    <div>
      <input
        type="text"
        class="form-control bg-dark-pink text-light my-2"
        placeholder="Email"
        [(ngModel)]="email"
      />
    </div>
    <div>
      <input
        type="password"
        class="form-control bg-dark-pink text-light my-2"
        [(ngModel)]="password"
        placeholder="Password"
      />
    </div>
    <hr />
    <button
      class="w-100 btn btn-sm bg-dark-pink text-light mb-2"
      (click)="onLoggedin()"
      [disabled]="loading"
    >
      {{ !loading ? 'Login' : 'Loading...' }}
    </button>
    <div class="alert alert-warning fade show" role="alert" *ngIf="errorMsg">
      <strong>{{ errorMsg }}</strong>
    </div>
  </div>
</div>
