<div class="main">
  <div class="px-3 d-flex justify-content-between">
    <h2>Reservations</h2>
    <div class="d-flex p-4">
      <div class="col" style="margin-right: 20px;">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-danger mr-2"
            (click)="updateReservation()"
          >
            <i class="fa fa-fw fa-save" aria-hidden="true"></i> Save
          </button>
          <button
            class="btn btn-outline-danger"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            <i class="fa fa-fw fa-print" aria-hidden="true"></i> Print
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button (click)="printInvoicePdf(reservation, 1)" ngbDropdownItem>
              Invoice
            </button>
            <button (click)="printInvoicePdf(reservation, 2)" ngbDropdownItem>
              Packing Slip
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="p-3">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label>Name</label>
          <input
            class="form-control bg-transparent"
            [(ngModel)]="reservation.name"
          />
        </fieldset>
      </div>
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label>Ref. #</label>
          <input
            class="form-control bg-transparent"
            [(ngModel)]="reservation.referenceNumber"
          />
        </fieldset>
      </div>
    </div>
    <div class="">
      <fieldset class="form-group">
        <label> Address</label>
        <textarea
          class="form-control bg-transparent"
          rows="2"
          cols="3"
          [(ngModel)]="reservation.address"
        ></textarea>
      </fieldset>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6 d-flex">
        <div class="flex-1">
          <fieldset class="form-group">
            <label>Total Weight </label>
            <input
              class="form-control bg-transparent"
              [(ngModel)]="reservation.totalWeight"
              type="number"
              (keyup)="calcShippingFee()"
              (change)="checkIfZero()"
            />
          </fieldset>
        </div>
        <div class="ml-2 flex-1">
          <fieldset class="form-group">
            <label>Measurement (G/KG)</label>
            <select
              class="text-dark w-100 bg-transparent form-control"
              [(ngModel)]="reservation.measurement"
              (ngModelChange)="setZone()"
            >
              <option value="g">G</option>
              <option value="kg">KG</option>
            </select>
          </fieldset>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label>Zone</label>
          <select
            class="text-dark w-100 bg-transparent form-control"
            [(ngModel)]="reservation.zone"
            (ngModelChange)="setZone()"
          >
            <option [value]="1">ASIA</option>
            <option [value]="2"
              >OCEANIA, NORTH AMERICA, CENTRAL AMERICA & MIDDLE EAST</option
            >
            <option [value]="3">EUROPE</option>
            <option [value]="4">SOUTH AMERICA & AFRICA</option>
            <option [value]="5">OTHERS</option>
          </select>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label>Shipping Fee</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">¥</span>
            </div>
            <input
              type="text"
              class="form-control bg-transparent"
              [(ngModel)]="reservation.shippingFee"
              (change)="checkIfZero()"
              type="number"
              [readonly]="reservation.zone != 5 ? true : false"
            />
          </div>
        </fieldset>
      </div>
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label>Total Discount</label>
          <input
            class="form-control bg-transparent"
            [(ngModel)]="reservation.discount"
            type="number"
            readonly
          />
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label>Previous Balance</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">¥</span>
            </div>
            <input
              class="form-control bg-transparent"
              [(ngModel)]="reservation.previousBalance"
              (keyup)="calcPreviousBalance()"
              (change)="checkIfZero()"
              type="number"
            />
          </div>
        </fieldset>
      </div>
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label>Status</label>
          <select
            [(ngModel)]="reservation.status"
            class="text-dark w-100 bg-pink form-control"
            (change)="updateReservation()"
          >
            <option value="Pending">Pending</option>
            <option value="Paid">Paid</option>
            <option value="For Shipment">For Shipment</option>
            <option value="Completed">Completed</option>
            <option value="Canceled">Canceled</option>
          </select>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label>Sub Total</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">¥</span>
            </div>
            <div class="form-control bg-transparent">
              {{ loading ? 'calculating ...' : calcSubTotal() }}
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <div
      class="row"
      *ngIf="
        reservation.status == 'Completed' ||
        reservation.status == 'For Shipment'
      "
    >
      <div class="col-xl-6 col-lg-6">
        <fieldset
          class="form-group"
          *ngIf="
            reservation.status == 'Completed' ||
            reservation.status == 'For Shipment'
          "
        >
          <label>Mode Of Payment</label>
          <input
            class="form-control bg-transparent"
            [(ngModel)]="reservation.modeOfPayment"
            (change)="updateReservation()"
          />
        </fieldset>
      </div>
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label> &nbsp; </label>
          <div>
            <button
              class="btn bg-dark-pink text-white"
              (click)="printPaymentReceipt(reservation)"
            >
              <i class="fa fa-fw fa-print" aria-hidden="true"></i> Print Payment
              Receipt
            </button>
          </div>
        </fieldset>
      </div>
    </div>
    <hr />
    <h3>
      Product List
    </h3>
    <hr />
    <div
      class="row mb-2 custom-border rounded px-2 pt-3"
      *ngFor="let product of reservation.products; let i = index"
    >
      <div class="col-sm-5 col-md-4 col-lg-3 mb-2 text-center">
        <img
          [src]="product?.image"
          alt=""
          class="img-thumbnail w-100 mb-2 product-image"
        />
        <button class="btn bg-dark-pink text-white" (click)="printItemPdf(i)">
          <i class="fa fa-fw fa-print" aria-hidden="true"></i> Print Item
        </button>
      </div>
      <div class="col-sm-7 col-md-8 col-lg-9">
        <div>
          <fieldset class="form-group">
            <label>Product name</label>
            <input
              class="form-control bg-transparent"
              [(ngModel)]="product.name"
            />
          </fieldset>
        </div>

        <div>
          <fieldset class="form-group">
            <label>Description</label>
            <textarea
              class="form-control bg-transparent"
              rows="4"
              cols="3"
              [(ngModel)]="product.description"
            ></textarea>
          </fieldset>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6">
            <fieldset class="form-group">
              <label>Serial Number</label>
              <input
                class="form-control bg-transparent"
                [(ngModel)]="product.serialNumber"
              />
            </fieldset>
          </div>

          <div class="col-md-6 col-lg-6 col-xl-6">
            <fieldset class="form-group">
              <label>Item Code</label>
              <input
                class="form-control bg-transparent"
                [(ngModel)]="product.itemCode"
              />
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <fieldset class="form-group">
              <label>Price</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">¥</span>
                </div>
                <input
                  type="text"
                  class="form-control bg-transparent"
                  [(ngModel)]="product.sellingPrice"
                />
              </div>
            </fieldset>
          </div>
          <div class="col-xl-6 col-lg-6">
            <fieldset class="form-group">
              <label>Purchase Price</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">¥</span>
                </div>
                <input
                  type="text"
                  class="form-control bg-transparent"
                  [(ngModel)]="product.purchasePrice"
                />
              </div>
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <fieldset class="form-group">
              <label>Color</label>
              <input
                class="form-control bg-transparent"
                [(ngModel)]="product.color"
              />
            </fieldset>
          </div>
          <div class="col-xl-6 col-lg-6">
            <fieldset class="form-group">
              <label>Remarks</label>

              <input
                class="bg-transparent form-control"
                [(ngModel)]="product.remarks"
              />
            </fieldset>
          </div>
          <div class="col-xl-6 col-lg-6">
            <fieldset class="form-group">
              <label>Bidding Code</label>

              <input
                class="bg-transparent form-control"
                [(ngModel)]="product.biddingCode"
              />
            </fieldset>
          </div>
          <div class="col-xl-6 col-lg-6">
            <fieldset class="form-group">
              <label>Discount</label>

              <input
                class="bg-transparent form-control"
                [(ngModel)]="product.discount"
                (keyup)="calcDiscountPerItem()"
              />
            </fieldset>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
