<div class="main">
  <div class="px-3 d-flex justify-content-between">
    <h2>Reservations</h2>
    <div class="d-flex p-2">
      <button
        class="btn bg-dark-pink text-white"
        (click)="printInvoicePdf(reservation)"
      >
        <i class="fa fa-fw fa-print" aria-hidden="true"></i> Print Invoice
      </button>
    </div>
  </div>
  <hr />
  <div class="p-3">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label>Name</label>
          <input
            class="form-control bg-transparent"
            [(ngModel)]="reservation.name"
          />
        </fieldset>
      </div>
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label>Ref. #</label>
          <input
            class="form-control bg-transparent"
            [(ngModel)]="reservation.referenceNumber"
          />
        </fieldset>
      </div>
    </div>
    <div class="">
      <fieldset class="form-group">
        <label> Address</label>
        <textarea
          class="form-control bg-transparent"
          rows="2"
          cols="3"
          [(ngModel)]="reservation.address"
        ></textarea>
      </fieldset>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label>Shipping Fee</label>
          <input
            class="form-control bg-transparent"
            [(ngModel)]="reservation.shippingFee"
            (keyup)="calcSubTotal()"
            (change)="checkIfZero()"
            type="number"
          />
        </fieldset>
      </div>
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label>Sub Total</label>
          <input
            class="form-control bg-transparent"
            [(ngModel)]="reservation.subTotal"
            readonly
            type="number"
          />
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label>Total Weight (G/Kg)</label>
          <input
            class="form-control bg-transparent"
            [(ngModel)]="reservation.totalWeight"
            type="number"
          />
        </fieldset>
      </div>
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label>Status</label>
          <select
            [(ngModel)]="reservation.status"
            class="text-dark w-100 bg-transparent mx-2 form-control"
            (change)="showModeOfPayment($event)"
          >
            <option value="Pending">Pending</option>
            <option value="For Shipment">For Shipment</option>
            <option value="Completed">Completed</option>
            <option value="Canceled">Canceled</option>
          </select>
        </fieldset>
      </div>
    </div>
    <div class="row" *ngIf="reservation.status=='Completed'">
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label>Mode Of Payment</label>
          <input
            class="form-control bg-transparent"
            [(ngModel)]="reservation.modeOfPayment"
            (change)="updateReservation($event)"
          />
        </fieldset>
      </div>
      <div class="col-xl-6 col-lg-6">
        <fieldset class="form-group">
          <label> &nbsp; </label>
          <div>
            <button
              class="btn bg-dark-pink text-white"
              (click)="printPaymentReceipt(reservation)"
            >
              <i class="fa fa-fw fa-print" aria-hidden="true"></i> Print Payment Receipt
            </button>
          </div>
        </fieldset>
      </div>
    </div>
    <hr />
    <h3>
      Product List
    </h3>
    <hr />
    <div
      class="row mb-2 custom-border rounded px-2 pt-3"
      *ngFor="let product of reservation.products; let i = index"
    >
      <div class="col-sm-5 col-md-4 col-lg-3 mb-2 text-center">
        <img
          [src]="product?.image"
          alt=""
          class="img-thumbnail w-100 mb-2 product-image"
        />
        <button class="btn bg-dark-pink text-white" (click)="printItemPdf(i)">
          <i class="fa fa-fw fa-print" aria-hidden="true"></i> Print Item
        </button>
      </div>
      <div class="col-sm-7 col-md-8 col-lg-9">
        <div>
          <fieldset class="form-group">
            <label>Product name</label>
            <input
              class="form-control bg-transparent"
              [(ngModel)]="product.name"
            />
          </fieldset>
        </div>

        <div>
          <fieldset class="form-group">
            <label>Description</label>
            <textarea
              class="form-control bg-transparent"
              rows="4"
              cols="3"
              [(ngModel)]="product.description"
            ></textarea>
          </fieldset>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6">
            <fieldset class="form-group">
              <label>Serial Number</label>
              <input
                class="form-control bg-transparent"
                [(ngModel)]="product.serialNumber"
              />
            </fieldset>
          </div>

          <div class="col-md-6 col-lg-6 col-xl-6">
            <fieldset class="form-group">
              <label>Item Code</label>
              <input
                class="form-control bg-transparent"
                [(ngModel)]="product.itemCode"
              />
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <fieldset class="form-group">
              <label>Price</label>
              <input
                class="form-control bg-transparent"
                [(ngModel)]="product.sellingPrice"
                type="number"
              />
            </fieldset>
          </div>
          <div class="col-xl-6 col-lg-6">
            <fieldset class="form-group">
              <label>Purchase Price</label>
              <input
                class="form-control bg-transparent"
                [(ngModel)]="product.purchasePrice"
                type="number"
              />
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <fieldset class="form-group">
              <label>Color</label>
              <input
                class="form-control bg-transparent"
                [(ngModel)]="product.color"
              />
            </fieldset>
          </div>
          <div class="col-xl-6 col-lg-6">
            <fieldset class="form-group">
              <label>Remarks</label>

              <input
                class=" bg-transparent form-control"
                [(ngModel)]="product.remarks"
              />
            </fieldset>
          </div>
          <div class="col-xl-6 col-lg-6"></div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
