<div [@routerTransition]>
  <h2>Reservations</h2>

  <div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
      <div>
        <i class="fa fa-search mr-2" aria-hidden="true"></i>
        <input type="text" class="px-2 search-input" placeholder="Search..." />
      </div>
      <div>
        <select class="form-control">
          <option>Pending</option>
          <option>For Shipment</option>
          <option>Completed</option>
          <option>Cancel</option>
        </select>
      </div>
    </div>
    <table class="card-body table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Address</th>
          <th>Email Address</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
            quos.
          </td>
          <td>@mdo</td>
          <td>Pending</td>
          <td>
            <button class="btn bg-transparent">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
