<div [@routerTransition] class="main">
  <h2>Reservations</h2>
  <div class="p-2 d-flex justify-content-between bg-transparent border-0">
    <div>
      <i class="fa fa-search mr-2" aria-hidden="true"></i>
      <input
        type="text"
        class="px-2 search-input"
        placeholder="Search..."
        [(ngModel)]="search"
      />
    </div>
  </div>
  <div class="card mb-3 bg-transparent">
    <table class="card-body table table-hover">
      <thead class="bg-pink">
        <tr>
          <th>#</th>
          <th>Reference Number</th>
          <th>Name</th>
          <th class="sm-hidden">Address</th>
          <th class="sm-hidden">Amount</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of reservationList | filter: search; let i = index"
          (dblclick)="router.navigate(['/view-reservation', { id: item.id }])"
        >
          <th>{{ i + 1 }}</th>
          <td>{{ item.referenceNumber }}</td>
          <td>{{ item.name }}</td>
          <td class="sm-hidden">{{ item.address }}</td>
          <td class="sm-hidden">{{ item.totalPrice }}</td>
          <td>{{ item.status }}</td>
          <td>
            <button class="btn bg-dark-pink text-white btn-sm rounded-circle" (click)="printPdf(item)">
              <i class="fa fa-print" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
