<div [@routerTransition] class="main">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Profit Shares</h2>
    <!-- <div class="d-flex p-2">
      <button class="btn bg-dark-pink text-white" (click)="startNewWeek()">
        <i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Start new week
      </button>
    </div> -->

    <form class="form-inline d-flex justify-content-end">
      <div class="form-group hidden">
        <div class="input-group">
          <input
            name="datepicker"
            class="form-control bg-transparent border-0"
            ngbDatepicker
            #datepicker="ngbDatepicker"
            [autoClose]="'outside'"
            (dateSelect)="onDateSelection($event)"
            [displayMonths]="2"
            [dayTemplate]="t"
            outsideDays="hidden"
            [startDate]="fromDate!"
          />
          <ng-template #t let-date let-focused="focused">
            <span
              class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null"
            >
              {{ date.day }}
            </span>
          </ng-template>
        </div>
      </div>
      <div class="form-group mx-1 mb-1">
        <div class="input-group">
          <input
            #dpFromDate
            class="form-control bg-pink"
            placeholder="yyyy-mm-dd"
            name="dpFromDate"
            [value]="formatter.format(fromDate)"
            (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
            readonly
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary calendar"
              (click)="datepicker.toggle()"
              type="button"
            >
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group mx-1">
        <div class="input-group">
          <input
            #dpToDate
            class="form-control bg-pink"
            placeholder="yyyy-mm-dd"
            name="dpToDate"
            [value]="formatter.format(toDate)"
            (input)="toDate = validateInput(toDate, dpToDate.value)"
            readonly
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary calendar"
              (click)="datepicker.toggle()"
              type="button"
            >
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <button class="btn bg-dark-pink text-white" (click)="generateCsv()">
        <i class="fa fa-plus" aria-hidden="true"></i> Generate Csv
      </button>
    </form>
  </div>
  <!-- <div
    class="p-2 d-flex justify-content-between align-items-center bg-transparent border"
  >
    <button class="btn bg-transparent" (click)="prevWeek()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </button>
    <h4 class="m-0">Week {{ weekId }}</h4>
    <button class="btn bg-transparent" (click)="nextWeek()">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </button>
  </div> -->
  <div class="card bg-transparent my-3">
    <table class="card-body table table-hover">
      <thead class="bg-pink">
        <tr>
          <th>Reference Number</th>
          <th>Customer Name</th>
          <th>Product Name</th>
          <th>Sold Price</th>
          <th>Purchase Price</th>
          <th>Total Profit</th>
          <th>-30% Profit</th>
          <th>Net Profit</th>
        </tr>
      </thead>
      <tbody *ngIf="!reservationList || reservationList.length == 0">
        <tr>
          <td colspan="13" class="text-center">
            {{ loading ? 'Loading ...' : 'No Completed Record' }}
          </td>
        </tr>
      </tbody>
      <tbody *ngFor="let reservation of reservationList">
        <tr *ngFor="let product of reservation.products">
          <td>{{ reservation.referenceNumber }}</td>
          <td>{{ reservation.name }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.sellingPrice | number }}</td>
          <td>{{ product.purchasePrice | number }}</td>
          <td>
            {{
              calculateTotalProfit(product.sellingPrice, product.purchasePrice)
                | number
            }}
          </td>
          <td>
            {{
              calculateDeductionsByPercent(
                product.sellingPrice,
                product.purchasePrice
              ) | number
            }}
          </td>
          <td>
            {{
              calculateNetProfit(product.sellingPrice, product.purchasePrice)
                | number
            }}
          </td>
        </tr>
      </tbody>

      <tfoot class="bg-pink">
        <th></th>
        <th></th>
        <th></th>
        <th>{{ totalSoldPrice }}</th>
        <th>{{ totalPurchasePrice }}</th>
        <th>{{ totalProfit }}</th>
        <th>{{ totalDeductions }}</th>
        <th>{{ totalNetProfit }}</th>
      </tfoot>
    </table>
  </div>

  <div
    class="p-2 d-flex justify-content-between align-items-center bg-transparent"
  >
    <h4 class="m-0">Sharers</h4>

    <button class="btn bg-dark-pink text-white" (click)="open(add)">
      <i class="fa fa-plus" aria-hidden="true"></i> Add Sharer
    </button>
  </div>
  <div class="card bg-transparent">
    <table class="card-body table table-hover">
      <thead class="bg-pink">
        <tr>
          <th>Sharer Name</th>
          <th>Share Percent</th>
          <th class="text-center">ROI plus Profit per Sharer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="sharers.length == 0">
          <td colspan="13" class="text-center">
            {{ loading ? 'Loading ...' : 'No Completed Record' }}
          </td>
        </tr>
        <tr *ngFor="let sharer of sharers" (dblclick)="openEdit(edit, sharer)">
          <td>{{ sharer.name }}</td>
          <td>{{ sharer.percent }}</td>
          <td class="text-center">
            {{ calculateProfitPerShare(sharer.percent) }}
          </td>
        </tr>
      </tbody>
      <tfoot class="bg-pink">
        <th>Total</th>
        <th>{{ totalPercent }}</th>
        <th class="text-center">{{ totalProfitPerShare }}</th>
      </tfoot>
    </table>
  </div>
</div>

<!-- Reserve Modal -->

<ng-template #add let-c="close" let-d="dismiss">
  <div class="modal-header bg-pink">
    <h4 class="modal-title">Add Sharer</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <fieldset class="form-group">
      <label>Sharer Name</label>
      <input
        class="form-control bg-transparent"
        type="text"
        [(ngModel)]="sharer.name"
      />
    </fieldset>
    <fieldset class="form-group">
      <label>Share percent</label>
      <input
        class="form-control bg-transparent"
        type="number"
        [(ngModel)]="sharer.percent"
      />
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">
      Cancel
    </button>
    <button
      type="button"
      class="btn bg-dark-pink text-white"
      (click)="addSharer()"
    >
      Add
    </button>
  </div>
</ng-template>

<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header bg-pink">
    <h4 class="modal-title">Edit Sharer</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <fieldset class="form-group">
      <label>Sharer Name</label>
      <input
        class="form-control bg-transparent"
        type="text"
        [(ngModel)]="sharer.name"
      />
    </fieldset>
    <fieldset class="form-group">
      <label>Share Percent</label>
      <input
        class="form-control bg-transparent"
        type="number"
        [(ngModel)]="sharer.percent"
      />
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteSharer()">
      Delete
    </button>
    <button
      type="button"
      class="btn bg-dark-pink text-white"
      (click)="updateSharer()"
    >
      Save
    </button>
  </div>
</ng-template>

<ngx-spinner
  bdColor="rgba(0,0,0,0.2)"
  size="default"
  color="#fff"
  type="ball-atom"
  [fullScreen]="true"
></ngx-spinner>
