.table-div {
  overflow: auto;
  max-height: 500px;
  tr {
    position: relative;
  }
  th {
    position: sticky;
    top: -1px;
    left: 0;
    background-color: rgba(255, 192, 203);
    font-size: 12px;
  }
}

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

td,
th {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}
